
<article>
    <% cartProducts.forEach(cartProduct=> { %>
    <div class="m-4 has-text-centered ">
        <div>
            <img style="height: 300px; width: 300px;" src="<%=cartProduct.image %>" alt="Placeholder image" />
        </div>
        <div class="content">
            <p class="is-size-1">
                <%=cartProduct.name %>
            </p>
        </div>
        <div class="content">
            <p class="is-size-3">
                $ <%=cartProduct.price %>
            </p>
        </div>
        <% }); %>
        onclick="location.href='/logout'"
        <a class="ml-4">
            <button class="button is-large is-info mt-4" onclick="location.href='/api/checkout'">Comprar</button>
        </a>
        <a class="ml-4">
            <button class="button is-large is-info mt-4" onclick="location.href='/api/productos'">Volver</button>
        </a>
    </div>
</article>