<div>
    <h1 class="m-4">
        404 Not Found
    </h1>
    <a>
        <button class="button is-large is-info mt-4" onclick="location.href='/api/productos'">Volver al Inicio</button>
    </a>
</div>